---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/search/v4/place?key=zlaZeUWUwDjy5iwTqIH9n1ljM0ZSGs7o&location=39.7512038,-104.9447319&rankby=distance&type=cafe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":"Parameter ''location'': -104.9447319 did not conform to the
        range of [-90.0,90.0]"}'
  recorded_at: Tue, 23 Aug 2022 14:14:03 GMT
- request:
    method: get
    uri: https://www.mapquestapi.com/search/v4/place?key=zlaZeUWUwDjy5iwTqIH9n1ljM0ZSGs7o&location=-104.9447319,39.7512038&rankby=distance&type=cafe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":"Missing parameter: sort"}'
  recorded_at: Tue, 23 Aug 2022 22:52:29 GMT
- request:
    method: get
    uri: https://www.mapquestapi.com/search/v4/place?feedback=false&key=zlaZeUWUwDjy5iwTqIH9n1ljM0ZSGs7o&location=-104.9447319,39.7512038&q=cafe&sort=distance
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - success
      Transactionweight:
      - '1'
    body:
      encoding: UTF-8
      string: '{"pagination":{"nextUrl":"https://www.mapquestapi.com/search/v4/place?q=cafe&location=-104.9447319,39.7512038&sort=distance&pageSize=10&page=2&key=zlaZeUWUwDjy5iwTqIH9n1ljM0ZSGs7o","currentPage":1},"request":{"sort":"distance","pageSize":10,"page":1,"feedback":false,"key":"zlaZeUWUwDjy5iwTqIH9n1ljM0ZSGs7o","q":"cafe","location":[-104.9447319,39.7512038]},"results":[{"id":"mqId:418993958","displayString":"Kresbah
        Cafe, 2266 Colorado Blvd, Denver, CO 80207","name":"Kresbah Cafe","slug":"/us/colorado/kresbah-cafe-418993958","language":"en","place":{"type":"Feature","geometry":{"coordinates":[-104.940404,39.750608],"type":"Point"},"properties":{"city":"Denver","stateCode":"CO","postalCode":"80207","countryCode":"US","street":"2266
        Colorado Blvd","type":"address"}}},{"id":"mqId:359994321","displayString":"T-Rex
        Cafe, 2001 Colorado Blvd, Denver, CO 80205","name":"T-Rex Cafe","slug":"/us/colorado/t-rex-cafe-359994321","language":"en","place":{"type":"Feature","geometry":{"coordinates":[-104.940935,39.74751],"type":"Point"},"properties":{"city":"Denver","stateCode":"CO","postalCode":"80205","county":"Denver","countryCode":"US","street":"2001
        Colorado Blvd","type":"address"}}},{"id":"mqId:416594070","displayString":"Corafaye''s
        Cafe Soul Food, 2861 Colorado Blvd, Denver, CO 80207","name":"Corafaye''s
        Cafe Soul Food","slug":"/us/colorado/corafayes-cafe-soul-food-416594070","language":"en","place":{"type":"Feature","geometry":{"coordinates":[-104.940896,39.757528],"type":"Point"},"properties":{"city":"Denver","stateCode":"CO","postalCode":"80207","county":"Denver","coun[...]
