---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?latitude=39.74751&longitude=-104.940935&term=T-Rex%20Cafe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer yHNb6Kv_cFPbndvJzOnKVu18JiMhmWt_OlzlERs31K7FXxtqBUU3RVs5XkReigJVo6MkfEnp3ry73ioW2VSgMyelZ1T5p16cjyErW7H0U5xvLeXEl90ImwTpZPYEY3Yx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4972'
      X-Routing-Service:
      - routing-main--useast1-54445cf4f-nlcll; site=public_api_v3
      X-Zipkin-Id:
      - fd8af90898ac2396
      Ratelimit-Resettime:
      - '2022-08-24T00:00:00+00:00'
      X-Cloudmap:
      - routing_useast1
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-91-109-useast1aprod
      X-Extlb:
      - 10-65-91-109-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "4pzg3Y6pSJmNfxmw6Cj-UQ", "alias": "t-rex-grill-denver",
        "name": "T Rex Grill", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/D76tWTwSxj-eyES641YOrA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/t-rex-grill-denver?adjust_creative=34C0zepaqieGLijQXveHVQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=34C0zepaqieGLijQXveHVQ",
        "review_count": 3, "categories": [{"alias": "pizza", "title": "Pizza"}, {"alias":
        "tradamerican", "title": "American (Traditional)"}, {"alias": "cafeteria",
        "title": "Cafeteria"}], "rating": 2.0, "coordinates": {"latitude": 39.7475103,
        "longitude": -104.9409349}, "transactions": [], "location": {"address1": "2001
        Colorado Blvd", "address2": "", "address3": null, "city": "Denver", "zip_code":
        "80205", "country": "US", "state": "CO", "display_address": ["2001 Colorado
        Blvd", "Denver, CO 80205"]}, "phone": "", "display_phone": "", "distance":
        185.39646120988616}, {"id": "VryvMiOjGlSTyR6EbopvMg", "alias": "the-district-denver-10",
        "name": "The District", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/3Jo3_KbXFj1ohiTEQ2LBuw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/the-district-denver-10?adjust_creative=34C0zepaqieGLijQXveHVQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=34C0zepaqieGLijQXveHVQ",
        "review_count": 500, "categories": [{"alias": "tradamerican", "title": "American
        (Traditional)"}, {"alias": "breakfast_brunch", "title": "Breakfast & Brunch"},
        {"alias": "newamerican", "title": "American (New)"}], "rating": 3.5, "coordinates":
        {"latitude": 39.7429773002728, "longitude": -104.970145}, "transactions":
        ["pickup", "delivery"], "price": "$$", "location": {"address1": "1320 E 17th
        Ave", "address2": "", "address3": "", "city": "Denver", "zip_code": "80218",
        "country": "US", "state": "CO", "display_address": ["1320 E 17th Ave", "Denver,
        CO 80218"]}, "phone": "+13038136688", "display_phone": "(303) 813-6688", "distance":
        2547.7224650079515}, {"id": "Ovrji3x2PMuY8G0rOcrrNA", "alias": "oak-at-fourteenth-boulder",
        "name": "Oak at Fourteenth", "image_url": "https://s3-media4.fl.yelpcdn.com/bphot[...]
