---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/search/v4/place?feedback=false&key=zlaZeUWUwDjy5iwTqIH9n1ljM0ZSGs7o&location=-104.9504002621875,39.74924215&q=cafe&sort=distance
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - success
      Transactionweight:
      - '1'
    body:
      encoding: UTF-8
      string: '{"pagination":{"nextUrl":"https://www.mapquestapi.com/search/v4/place?q=cafe&location=-104.9504002621875,39.74924215&sort=distance&pageSize=10&page=2&key=zlaZeUWUwDjy5iwTqIH9n1ljM0ZSGs7o","currentPage":1},"request":{"sort":"distance","pageSize":10,"page":1,"feedback":false,"key":"zlaZeUWUwDjy5iwTqIH9n1ljM0ZSGs7o","q":"cafe","location":[-104.9504002621875,39.74924215]},"results":[{"id":"mqId:359994321","displayString":"T-Rex
        Cafe, 2001 Colorado Blvd, Denver, CO 80205","name":"T-Rex Cafe","slug":"/us/colorado/t-rex-cafe-359994321","language":"en","place":{"type":"Feature","geometry":{"coordinates":[-104.940935,39.74751],"type":"Point"},"properties":{"city":"Denver","stateCode":"CO","postalCode":"80205","county":"Denver","countryCode":"US","street":"2001
        Colorado Blvd","type":"address"}}},{"id":"mqId:412307044","displayString":"Under
        the Umbrella Cafe, 2900 E 16th Ave, Denver, CO 80206","name":"Under the Umbrella
        Cafe","slug":"/us/colorado/under-the-umbrella-cafe-412307044","language":"en","place":{"type":"Feature","geometry":{"coordinates":[-104.95265,39.74178],"type":"Point"},"properties":{"city":"Denver","stateCode":"CO","postalCode":"80206","county":"Denver","countryCode":"US","street":"2900
        E 16th Ave",[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?latitude=39.74751&limit=1&longitude=-104.940935&term=T-Rex%20Cafe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer yHNb6Kv_cFPbndvJzOnKVu18JiMhmWt_OlzlERs31K7FXxtqBUU3RVs5XkReigJVo6MkfEnp3ry73ioW2VSgMyelZ1T5p16cjyErW7H0U5xvLeXEl90ImwTpZPYEY3Yx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Resettime:
      - '2022-08-24T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--useast1-54445cf4f-2nlpg; site=public_api_v3
      Ratelimit-Dailylimit:
      - '5000'
      X-Zipkin-Id:
      - 900092b3aa348127
      Ratelimit-Remaining:
      - '4964'
      X-Cloudmap:
      - routing_useast1
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-164-1-useast1bprod
      X-Extlb:
      - 10-65-164-1-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "4pzg3Y6pSJmNfxmw6Cj-UQ", "alias": "t-rex-grill-denver",
        "name": "T Rex Grill", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/D76tWTwSxj-eyES641YOrA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/t-rex-grill-denver?adjust_creative=34C0zepaqieGLijQXveHVQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=34C0zepaqieGLijQXveHVQ",
        "review_count": 3, "categories": [{"alias": "pizza", "title": "Pizza"}, {"alias":
        "tradamerican", "title": "American (Traditional)"}, {"alias": "cafeteria",
        "title": "Cafeteria"}], "rating": 2.0, "coordinates": {"latitude": 39.7475103,
        "longitude": -104.9409349}, "transactions": [], "location": {"address1": "2001
        Colorado Blvd", "address2": "", "address3": null, "city": "Denver", "zip_code":
        "80205", "country": "US", "state": "CO", "display_address": ["2001 Colorado
        Blvd", "Denver, CO 80205"]}, "phone": "", "display_phone": "", "distance":
        185.39646120988616}], "total": 3, "region": {"center": {"longitude": -104.940935,
        "latitude": 39.74751}}}'
  recorded_at: Tue, 23 Aug 2022 23:49:58 GMT
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/4pzg3Y6pSJmNfxmw6Cj-UQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer yHNb6Kv_cFPbndvJzOnKVu18JiMhmWt_OlzlERs31K7FXxtqBUU3RVs5XkReigJVo6MkfEnp3ry73ioW2VSgMyelZ1T5p16cjyErW7H0U5xvLeXEl90ImwTpZPYEY3Yx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - ac6a182586675aa5
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4963'
      Ratelimit-Resettime:
      - '2022-08-24T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--useast1-54445cf4f-xgq75; site=public_api_v3
      X-Cloudmap:
      - routing_useast1
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-103-189-useast1aprod
      X-Extlb:
      - 10-65-103-189-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"id": "4pzg3Y6pSJmNfxmw6Cj-UQ", "alias": "t-rex-grill-denver", "name":
        "T Rex Grill", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/D76tWTwSxj-eyES641YOrA/o.jpg",
        "is_claimed": false, "is_closed": false, "url": "https://www.yelp.com/biz/t-rex-grill-denver?adjust_creative=34C0zepaqieGLijQXveHVQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_lookup&utm_source=34C0zepaqieGLijQXveHVQ",
        "phone": "", "display_phone": "", "review_count": 3, "categories": [{"alias":
        "pizza", "title": "Pizza"}, {"alias": "tradamerican", "title": "American (Traditional)"},
        {"alias": "cafeteria", "title": "Cafeteria"}], "rating": 2.0, "location":
        {"address1": "2001 Colorado Blvd", "address2": "", "address3": null, "city":
        "Denver", "zip_code": "80205", "country": "US", "state": "CO", "display_address":
        ["2001 Colorado Blvd", "Denver, CO 80205"], "cross_streets": ""}, "coordinates":
        {"latitude": 39.7475103, "longitude": -104.9409349}, "photos": ["https://s3-media2.fl.yelpcdn.com/bphoto/D76tWTwSxj-eyES641YOrA/o.jpg",
        "https://s3-media2.fl.yelpcdn.com/bphoto/jwFGB5ZqPaGevSTvmkoGeA/o.jpg", "https://s3-media3.fl.yelpcdn.com/bphoto/mhjJ-C6b1QWRqDEMQaljRQ/o.jpg"],
        "hours": [{"open": [{"is_overnight": false, "start": "0900", "end": "1700",
        "day": 0}, {"is_overnight": false, "start": "0900", "end": "1700", "day":
        1}, {"is_overnight": false, "start": "0900", "end": "1700", "day": 2}, {"is_overnight":
        false, "start": "0900", "end": "1700", "day": 3}, {"is_overnight": false,
        "start": "0900", "end": "1700", "day": 4}, {"is_overnight": false, "start":
        "0900", "end": "1700", "day": 5}, {"is_overnight": false, "start": "0900",
        "end": "1700", "day": 6}], "hours_type": "REGULAR", "is_open_now": false}],
        "transactions": []}'
  recorded_at: Tue, 23 Aug 2022 23:49:58 GMT
recorded_with: VCR 6.1.0
